@model BuddySystem.Models.AdditionalBuddy.AddAdditionalBuddy

@{
    ViewBag.Title = "GetAddAdditonalBuddyModel";
}

<h2>GetAddAdditonalBuddyModel</h2>

<div>
    <h4>AddAdditionalBuddy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TripId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryBuddyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryBuddyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectedEndLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectedEndLocation)
        </dd>

    </dl>
    <!-- leaving ShowManager styling tags for now so we can reference & copy them if need be-->
    <div class="row">
        <div class="col-md-5 col-md-offset-1" id="addArtist-dropdown">
            <div class="form-group">
                @Html.LabelFor(model => model.BuddyToAddId, "Buddy", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7 ">
                    @Html.DropDownList("BuddyId", null, " Choose Buddy ", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BuddyToAddId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-2">
            <h4>Artist Line Up</h4>
            <ul id="artist_lineup">
                @foreach (var additionalBuddy in Model.ListOfBuddies)
                {
                    <li class="artist_lineup_item">
                        @additionalBuddy.Name
                        <!--Location would go here so we could see where additional buddies are and display their location on a GMaps map-->
                    </li>
                }
            </ul>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TripId }) |
    @Html.ActionLink("Back to Trip", "Details", new { id = Model.TripId }) |

    @Html.ActionLink("Back to List", "Index")
</p>
